.SearchProf label {
    display: block;
    margin-bottom: 5px;
    font-size: 2pc;
}

.SearchProf input[type="text"] {
    width: 70%;
    margin-bottom: 10px;
}

.SearchProf label,
.SearchProf input[type="text"],
.SearchProf input[type="submit"] {
    font-family: 'Roboto Slab', sans-serif;
}

#textDiv {
    text-align: center;
}

#mainPage {
    background-color: gray;
}

.SearchProf {
    border: 2px solid black;
    background-color: whitesmoke;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.input-group input,
.input-group textarea {
    width: 70%;
    height: 40px;
    font-size: 1pc;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
}

#profReview {
    height: 80px;
}

#buttonTextBox {
    margin-top: 20px;
    padding: 20px 5px;
    border-radius: 6px;
    background-color: whitesmoke;
    color: black;
    display: block;
    z-index: 2;
    width: 350px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
}

#buttonTextBox:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transform: scale(0.95);
}

.submitBox {
    display: flex;
    align-items: center;
    justify-content: center;
}




.findButton{
    background-color: black;
    text-decoration: none;
    font-size: 40px;
    padding: 3px;
    color: white;
    display: inline-block;
    margin: auto;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
}


.findButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg,
    #4fcf70, #fad648, #a767e5,
    #12bcfe, #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
}

.findButton:hover::before {
    animation : animate_border .75s linear infinite;
    
}

.findButton span:hover{
    background-color: #333;
    color: #fff;
    transform: scale(0.95);
    
}

.findButton span{
    display: block;
    background-color: whitesmoke;
    color : black;
    padding: 13px 20px;
    border-radius: 3px;
    position: relative;
    
    z-index: 2;
    transition: all 0.3s ease;
}

@keyframes animate_border {
    to {
        transform: translateX(-50%);
        
    }    
}

.homePage {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}